$soft-orange-color: hsl(35, 77%, 62%);
$soft-red-color: hsl(5, 85%, 63%);
$very-dark-blue-color: hsl(240, 100%, 5%);
$greyish-blue-color: hsl(233, 8%, 79%);
$border-grey-blue-color: hsl(236, 13%, 42%);

$default-transition: 0.2s;